<ul>
    <% for (var i = 0; i < tasks.length; i++) { %>
	<li><%= tasks[i].title %> </li>
	<% } %>
</ul>


/*
<ul class="tasks">
	<% for (var i = 0; i < tasks.length; i++) { %>
	<li data-id="<%= i %>" class="<%= tasks[i].done ? 'done' : '' %>"><%= tasks[i].title %> </li>
	<% } %>
</ul>

<% if (pages > 1) { %>
<ul class="pages">
	<% for (var i = 1; i <= pages; i++) { %>
	<li>
		<% if (i == currentPage) { %>
		<%= i %>
		<% } else { %>
		<a href="#page-<%= i %>" data-page="<%= i %>"><%= i %></a>
		<% } %>
	</li>
	<% } %>
</ul>
<% } %>

*/