.addtaskbutton {
    background-color: lightgreen;
    font-size: large;
    border-radius: 10px;
    width: 150px;
    height: 25px;
}

table.maintable {
    width: 90%;
    border-collapse: collapse;
    border: 2px solid grey;
    margin: auto;
}
table.addtasktable {
    margin: auto;
    width: 50%;
    border-collapse: collapse;
   border: 1px solid grey;
}
th, td {
    border: 1px solid grey;
    text-align: center;
    padding: 20px;
}

.text {
    width: 400px;
}

.status{
    text-align: center;
    color: green;
    font-size: large;
}
